# SPDX-FileCopyrightText: Contributors to the Power Grid Model project <powergridmodel@lfenergy.org>
#
# SPDX-License-Identifier: MPL-2.0

name: Build and Test

on:
  # run pipeline from another workflow
  workflow_call:
    inputs:
      create_release:
        type: boolean
        description: Create a (pre-)release when CI passes
        default: false
        required: false
  # run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      create_release:
        type: boolean
        description: Create a (pre-)release when CI passes
        default: false
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-main
  cancel-in-progress: true

jobs:
  build-python:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set PyPI version
        uses: PowerGridModel/pgm-version-bump@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: |
          cat PYPI_VERSION
          uv build --sdist --no-create-gitignore --out-dir wheelhouse .

      - name: Save version
        id: version
        run: echo "version=$(cat PYPI_VERSION)" >> $GITHUB_OUTPUT

      - name: Store built wheel file
        uses: actions/upload-artifact@v7
        with:
          name: power-grid-model-io
          path: wheelhouse/

  unit-tests:
    needs: build-python
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.12", "3.13", "3.14"]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}

      - name: Load built wheel file
        uses: actions/download-artifact@v7
        with:
          name: power-grid-model-io
          path: wheelhouse/

      - name: Create environment
        run: uv venv

      - name: Install built wheel file
        run: uv pip install power-grid-model-io==${{ needs.build-python.outputs.version }} --find-links=wheelhouse

      - name: Unit test and coverage
        run: uv run --only-group test --no-editable pytest --verbose

  validation-tests:
    needs: build-python
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.12", "3.13", "3.14"]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}

      - name: Load built wheel file
        uses: actions/download-artifact@v7
        with:
          name: power-grid-model-io
          path: wheelhouse/

      - name: Create environment
        run: uv venv

      - name: Install built wheel file
        run: uv pip install power-grid-model-io==${{ needs.build-python.outputs.version }} --find-links=wheelhouse

      - name: Validation tests
        run: uv run --only-group test --no-editable pytest tests/validation --no-cov --verbose

  github-release:
    needs:
      - build-python
      - unit-tests
      - validation-tests
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Load built wheel file
        uses: actions/download-artifact@v7
        with:
          name: power-grid-model-io
          path: wheelhouse/

      - name: Get tag
        id: tag
        run: echo "tag=v${{ needs.build-python.outputs.version }}" >> $GITHUB_OUTPUT

      - name: Display tag
        run: echo "${{ steps.tag.outputs.tag }}"

      - name: Create GitHub release
        if: (inputs.create_release)
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./wheelhouse/*
          tag_name: "${{ steps.tag.outputs.tag }}"
          prerelease: ${{github.ref != 'refs/heads/main'}}
          generate_release_notes: true
          target_commitish: ${{ github.sha }}
